/*--------grid 6 box----------*/
.main__section__first {
    display: grid; 
    grid-auto-flow: column; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 15px 15px; 
    grid-template-areas: 
      ". . ."
      ". . ."; 
    justify-items: center; 
    width: 1110px; 
    height: 988px;
    margin-left: 165px; 
  }
  /*------info 6 box-----*/
  .__first__article {
    width: 350px;
    height: 478px;
	  display: flex;
	  flex-direction: column;
	  flex-wrap: wrap;
	  align-items: flex-end;
	  align-content: center;
}
