.main__section__first {
    display: grid; 
    grid-auto-flow: column; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 15px 15px; 
    grid-template-areas: 
      ". . ."
      ". . ."; 
    justify-items: stretch; 
    width: 1110px; 
    height: 988px; 
  }
  .__first__article {
    width: 350px;
    height: 625px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-end;
	align-content: center;
}