@import "../../../src/css/reset.css";
@import "../../../src/scss/partials";
@import "../../../src/scss/font";
@import "../../../src/scss/nav-header_and_footer";

body {
  main {
    .container_form {
      background: $peach;
      height: 480px;
      max-width: 1111px;
      border-radius: 15px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
      position: relative;
      overflow: hidden;
      background: url(../../../src/img/Contact/bg.png) center/cover no-repeat;

      @media screen and (max-width: 970px) {
        display: block;
        max-width: 90%;
        height: fit-content;
        background: url(../../../src/img/Contact/bg-tablet.png) center/cover
          no-repeat;
      }

      @media screen and (max-width: 500px) {
        background: url(../../../src/img/Contact/bg-mobile.png) center/cover
          no-repeat;
        padding-bottom: 72px;
      }
      .container_form--text {
        width: 540px;

        @media screen and (max-width: 970px) {
          margin-left: 97px;
          padding-top: 100px;
          width: 80%;
        }

        @media screen and (max-width: 500px) {
          margin-left: auto;
          margin-right: auto;
          text-align: center;
          padding-top: 72px;
        }

        h1 {
          margin-bottom: 32px;
        }

        p {
          width: 445px;
          text-align: left;

          @media screen and (max-width: 970px) {
            width: 90%;
          }

          @media screen and (max-width: 500px) {
            text-align: center;
            width: 100%;
          }
        }
      }

      form {
        height: 371px;
        width: 380px;
        padding: 55px 0px;
        @media screen and (max-width: 970px) {
          margin-left: 97px;
          width: 80%;
        }

        @media screen and (max-width: 500px) {
          width: 90%;
          margin-left: auto;
          margin-right: auto;
        }

        input {
          border: none;
          border-bottom: 2px solid white;
          background-color: #e7826b00;
          width: 380px;
          height: 62px;

          @media screen and (max-width: 970px) {
            width: 90%;
          }

          @media screen and (max-width: 500px) {
            width: 100%;
          }

          &::placeholder {
            color: $white;
            opacity: 0.5;
          }

          &:focus {
            outline: none;
          }
        }

        textarea {
          resize: none;
          width: 380px;
          height: 126px;
          border: none;
          border-bottom: 2px solid $white;
          background-color: #e7826b00;
          margin-top: 15px;

          @media screen and (max-width: 970px) {
            width: 90%;
          }

          @media screen and (max-width: 500px) {
            width: 100%;
          }

          &::placeholder {
            color: $white;
            opacity: 0.5;
          }

          &:focus {
            outline: none;
          }
        }
      }
    }

    .container_see--location {
      .list-location {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 160px;
        margin-bottom: 320px;
        gap: 178px;

        @media screen and (max-width: 970px) {
          display: block;
          margin-bottom: 120px;
          margin-top: 62px;
        }

        li {
          text-align: center;

          img {
            margin-bottom: 48px;

            @media screen and (max-width: 970px) {
              margin-top: 58px;
            }
          }

          h3 {
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 500;
            line-height: 26px;
            letter-spacing: 5px;
            margin-bottom: 32px;
          }
        }
      }
    }
  }

  footer {
    .section_footer {
      padding-top: 79px;
    }
  }
}
