@import "../../../src/css/reset.css";
@import "../../../src/scss/nav-header_and_footer";
@import "../../../src/scss/font";

body {
    header {
        .article_header {
            max-width: 1111px;
            height: 480px;
            margin: 0px auto;
            align-items: center;
            display: flex;
            background: #E7816B;
            color: white;
            border-radius: 15px;
            justify-content: space-between;
            box-sizing: border-box;

            .container-txt_article_header {
                margin: 0 auto;

                .title_article_header {
                    margin-bottom: 32px;
                }

                .txt_article_header {
                    max-width: 458px;
                }
            }

            .container-img_article_header {
                .img_article_header {
                    display: block;
                }
            }
        }
    }

    main {
        .article_main {
            display: flex;
            margin: 160px auto;
            max-width: 1111px;
            align-items: center;
            background: #FDF3F0;
            border-radius: 15px;

            .container-txt_article_main {
                margin: 0px auto;
                max-width: 445px;

                &.deal {
                    order: 1;
                }

                .title_article_main {
                    color: #E7816B;
                }
            }

            .container-img_article_main {
                &.deal {
                    order: 2;
                }

                .img_article_main {
                    display: block;
                }
            }
        }

        .section_location {
            text-align: center;
            max-width: 1111px;
            margin: 0 auto;

            .list_location {
                display: flex;
                justify-content: space-between;
                padding: 0 74px;

                .item_location {
                    .title_item_location {
                        margin-top: 48px;
                        margin-bottom: 32px;
                    }
                }
            }
        }
    }
}