@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 2px;
}

h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 2px;
}

h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

body {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: initial;
}

button {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

form {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: initial;
}

.view-projects {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

body header .nav_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1111px;
  margin: 64px auto;
}
body header .nav_header .container-logo_header {
  height: 27px;
  width: 202px;
}
body header .nav_header .container-logo_header .logo_header {
  width: 100%;
}
body header .nav_header .list_nav_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 42px;
  list-style: none;
}
body header .nav_header .list_nav_header a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 14px;
  letter-spacing: 2px;
  color: #333136;
  cursor: pointer;
}
body footer {
  color: white;
  position: relative;
}
body footer .article_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px auto;
  max-width: 1111px;
  height: 292px;
  background: #E7816B;
  border-radius: 15px;
  padding: 0px 95px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body footer .article_footer .container-txt_article_footer {
  width: 459px;
}
body footer .article_footer .container-txt_article_footer .title_article_footer {
  line-height: 40px;
  letter-spacing: initial;
  padding-bottom: 16px;
}
body footer .black-back_article_footer {
  width: 100%;
  height: 72px;
  position: absolute;
  background: black;
  top: 220px;
  z-index: -1;
}
body footer .section_footer {
  background: black;
  width: 100%;
  padding-top: 72px;
  padding-bottom: 72px;
}
body footer .section_footer .nav_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1111px;
  margin: 0px auto;
  padding-bottom: 40px;
}
body footer .section_footer .nav_footer .container-logo_footer {
  height: 27px;
  width: 202px;
}
body footer .section_footer .nav_footer .container-logo_footer .logo_footer {
  width: 100%;
}
body footer .section_footer .nav_footer .list_nav_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 42px;
  list-style: none;
}
body footer .section_footer .nav_footer .list_nav_footer a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 14px;
  letter-spacing: 2px;
  cursor: pointer;
}
body footer .section_footer .container-contact_footer {
  max-width: 1111px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 31px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
body footer .section_footer .container-contact_footer .contact_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
body footer .section_footer .container-contact_footer .contact_footer .item_contact_footer {
  width: 350px;
  font-weight: 700;
  mix-blend-mode: normal;
  opacity: 0.5;
}
body footer .section_footer .container-contact_footer .contact_footer .item_contact_footer .adress_contact {
  font-weight: 400;
}
body footer .section_footer .container-contact_footer .social_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
body footer .section_footer .container-contact_footer .social_footer .list_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
body footer .section_footer .container-contact_footer .social_footer .list_social .item_social a {
  cursor: pointer;
}
body footer .section_footer .container-contact_footer .social_footer .list_social .item_social a svg:hover path {
  fill: #FFAD9B;
}

body header .article_header {
  max-width: 1111px;
  height: 640px;
  margin: 0px auto;
  margin-top: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #E7816B;
  color: white;
  padding: 0px 95px;
  border-radius: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body header .article_header .container-txt_article_header {
  width: 540px;
}
body header .article_header .container-txt_article_header .title_article_header {
  padding-bottom: 21px;
  margin-bottom: 11px;
}
body header .article_header .container-txt_article_header .txt_article_header {
  margin-bottom: 40px;
}
body header .article_header .container-img_article_header {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
body header .article_header .container-img_article_header .img_article_header {
  display: block;
  -webkit-filter: drop-shadow(20px -40px 80px rgba(93, 2, 2, 0.497569));
          filter: drop-shadow(20px -40px 80px rgba(93, 2, 2, 0.497569));
}
body main .projects {
  color: white;
  text-align: center;
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr;
  gap: 24px 30px;
  grid-template-areas: "web ." "web .";
  max-width: 1111px;
  margin: 160px auto;
}
body main .projects #web_design {
  grid-area: web;
}
body main .projects .article_projects {
  position: relative;
}
body main .projects .article_projects a .container-txt_article_projects {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
body main .projects .article_projects a .container-txt_article_projects .title_article_projects {
  margin-bottom: 24px;
  width: 360px;
}
body main .projects .article_projects a .container-img_article_projects {
  max-width: 541px;
}
body main .projects .article_projects a .container-img_article_projects .img_article_projects {
  display: block;
  width: 100%;
}
body main .softskills {
  text-align: center;
  max-width: 1111px;
  margin: 0 auto;
  margin-bottom: 160px;
}
body main .softskills .list_softskills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
body main .softskills .list_softskills .item_softskills .container-img_item_softskills {
  margin-bottom: 48px;
}
body main .softskills .list_softskills .item_softskills .title_item_softskills {
  margin-bottom: 32px;
}/*# sourceMappingURL=style.css.map */