/*------------Header--------------*/
.header__title-title {
    width: 730px;
    height: 48px;
    font-family: $jost;
    font-weight: bold;
    font-size: 48px;
    color: $white;
    text-align: center;
    margin-bottom: 24px;
}
.header__title-text {
    width: 730px;
    height: 48px;
    font-family: $jost;
    font-weight: 400;
    font-size: 16px;
    color: $white;
    text-align: center;
}