h1 {
    width: 730px;
    height: 48px;
    font-family: $jost;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    color: $white;
    padding-bottom: 24px;
    text-align: center;
}

.__box__text {
    width: 730px;
    height: 48px;
    font-family: $jost;
    font-weight: 400;
    font-size: 16px;
    color: $white;
    text-align: center;
    line-height: 26px;
}