.__second__box-title {
    font-family: $jost;
    font-weight: bold;
    font-size: 40px;
    color: $white;
    text-align: center;
    letter-spacing: 2px;
}
.__second__box-subtitle {  
    font-family: $jost;
    font-weight: 400;
    font-size: 15px;
    color: $white;
    text-align: center;
    letter-spacing: 5px;
    text-decoration: none;
}
.arrow {
    font-family: $jost;
    font-weight: bold;
    font-size: 15px;
    color: $orange;
}