.__image__picture1 {
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: block;
}

.__box__write {
    background-color: $beige;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
    &:hover {
        background-color: $orange;
    }

    &:hover h2 {
        color: #ffffff;
    }

    &:hover p {
        color: #ffffff;
    }
}

.__write__title {
    width: 350px;
    height: 26px;
    margin-right: 0px;
    font-family: $jost;
    font-weight: 500;
    font-size: 20px;
    color: $orange;
    letter-spacing: 5px;
    padding-top: 30px;
    text-align: center;
}

.__write__text {
    width: 350px;
    height: 52px;
    margin-right: 0px;
    font-family: $jost;
    font-weight: 400;
    font-size: 16px;
    color: $black;
    line-height: 26px;
    padding-top: 16px;
    text-align: center;
}
