body {
    header {
        .article_header {
            @include tablet {
                max-width: 689px;
                height: 632px;
                flex-direction: column;
                justify-content: initial;
            }

            @include mobile {
                width: 100%;
                height: initial;
                border-radius: initial;
            }

            .container-txt_article_header {
                @include tablet {
                    order: 2;
                    margin: 64px auto;
                    text-align: center;
                }

                @include mobile {
                    margin: 80px auto;
                }

                .title_article_header {
                    @include mobile {
                        margin-bottom: 24px;
                    }
                }

                .txt_article_header {
                    @include tablet {
                        max-width: 573px;
                    }

                    @include mobile {
                        font-size: 15px;
                        line-height: 25px;
                        margin-bottom: 0px;
                    }
                }
            }

            .container-img_article_header {
                @include tablet {
                    order: 1;
                    width: 100%
                }

                .img_article_header {
                    @include img_display;

                    @include mobile {
                        width: 100%;
                    }
                }
            }
        }
    }

    main {
        .article_main {
            @include tablet {
                flex-direction: column;
                text-align: center;
                max-width: 689px;
                margin: 120px auto;
            }

            @include mobile {
                width: 100%;
                margin-top: 0px;
                border-radius: initial;
            }

            .container-txt_article_main {
                @include tablet {
                    margin: 68px auto;
                    max-width: 572px;
                }

                @include mobile {
                    min-height: 545px;
                    max-width: 327px;
                    margin-top: 80px;
                    margin-bottom: 0px;
                    font-size: 15px;
                    line-height: 25px;
                    letter-spacing: initial;
                }

                &.deal {
                    @include tablet {
                        order: 2;
                    }
                }

                .paragraphe_article_main {
                    &.one {
                        @include mobile {
                            margin-bottom: 25px;
                        }
                    }
                }
            }

            .container-img_article_main {
                &.deal {
                    @include tablet {
                        order: 1;
                    }
                }

                @include mobile {
                    width: 100%;
                }

                .img_article_main {
                    @include img_display;

                    @include mobile {
                        width: 100%;
                    }
                }
            }
        }

        .section_location {
            @include tablet {
                max-width: 689px;
            }

            @include mobile {
                margin-bottom: 120px;
                width: 100%;
            }

            .list_location {
                @include tablet {
                    flex-direction: column;
                    padding: initial;
                }

                .item_location {
                    &.belgium {
                        @include tablet {
                            margin-bottom: 80px;
                        }

                        @include mobile {
                            margin-bottom: 48px;
                        }
                    }

                    &.australia {
                        @include tablet {
                            margin-bottom: 48px;
                        }

                        @include mobile {
                            margin-bottom: 48px;
                        }
                    }
                }
            }
        }
    }
}